/* BallLoader.css */

.ball-loader {
  display: flex;
}

.ball {
  margin: 30px;
  position: relative;
  right: -35%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: hsl(353, 100%, 65%);
  background: linear-gradient(45deg, hsl(353, 100%, 65%), hsl(43, 100%, 68%));
  animation: bounce 0.7s infinite alternate;
}
@media screen and (max-width: 1024px) {
  .ball {
    width: 30px;
    height: 30px;
    right: -20%;
  }
}

.top {
  animation-delay: -0.35s;
  transform-origin: bottom;
}

.middle {
  animation-delay: -0.175s; /* تأخير الكرة الوسطى */
}

.bottom {
  transform-origin: top;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(300px);
  }
}
